<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/normalize.css">
    {{#each scripts}}
    <script type="module" src="{{this}}"></script>
    {{/each}}
</head>

<body>
       {{>header}}
    <main id="main">
        {{#if user}}
        <div id="nomstyle">
            Bonjour {{user.nom}}
        </div>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        <div class="footer-line"></div>
        <span>
           © 2023 Test Technique 
        </span>
    </footer>

</body>

</html>