<div class="add-blog-container">
  <h2>Ajouter un blogue</h2>
  <form class="add-blog-form">
    <label for="title">Titre : </label>
    <input type="text" id="title" name="title"/>

    <label for="content">Contenu de blogue:</label>
    <textarea id="content" name="content" rows="4"></textarea>

    <button type="submit">Ajouter le blogue</button>
    <div id="erreur"></div>
  </form>
</div>